@model IEnumerable<HistoryData.Core.Models.History>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home for Dan's Weather Page</h2>

<p id="noalert">*** No active alerts for our area ***</p>

<div id="picture">
    <img src="@Url.Content("~/Content/Photos/Snow.JPG")" width="400" height="400" alt="December Snowfall 2016" />
    <span>December 6th, 2016 Snowfall in Naperville, IL</span>
</div>

<div id="HomeContent">
    <h4>Historical Records for Major Holidays</h4><br />
    @Html.ActionLink("Christmas Eve", "ChristmasEve", "History")<br /><br /><br />

    @Html.ActionLink("Christmas Day", "ChristmasDay", "History")<br /><br /><br />

    @Html.ActionLink("New Year's Eve", "NewYearsEve", "History")<br /><br /><br />

    @Html.ActionLink("New Year's Day", "NewYearsDay", "History")<br /><br /><br />

    <h4>March Weather</h4>
    Temperature Average: <span id="warm">+1.6</span> degrees &ensp; Precipitation: <span id="wet">4.01</span> inches &ensp; Snow: <span id="snowy">7.8</span> inches<br />
    Highest Temperature: <span id="warm">82</span> degrees &ensp; Lowest Temperature: <span id="cold">16</span> degrees

</div>